
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-header">About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <p class="text-center">KZ Daisy is an actor, improviser, and voiceover artist based in New York City. She has performed theater, improv, and spoken word at Freehold Theatre, Magnet Theater, The Peoples Improv Theater, The Asian American Writers' Workshop, Yale University, and Bowery Poetry.</p>

      <p class="text-center">She is a grateful alumnus of the Meisner and Core Acting progressions at Freehold Theatre, where she played Meg Magrath in a full-length production of Crimes of the Heart. An eternal student, KZ has also studied at Seattle Voice Academy, Dream Bigg, MN Acting Studio, Magnet Theater, The Peoples Improv Theater, and Unexpected Productions.</p>

        <p class="text-center">KZ's creative inspirations include daily life and relationships, Asian American vloggers, reality TV, Ali Wong, and romance novels. She has two amazing rescue cats, Cash and Jiji.</p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        </a>
      </div>
    </div>
  </div>
</section>
