
<section class="success" id="resume">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-header">Resume</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div>
      <h3 class="resume-headers">Commercial</h3>
      <table class="resume-table">
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-entry">Spring Video Campaign</td>
            <td class="table-entry">Principal</td>
            <td class="table-entry">BGDY</td>
          </tr>
        </tbody>
      </table>
      <h3 class="resume-headers">Theater</h3>
      <table class="resume-table">
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-entry">Miss Julie</td>
            <td class="table-entry">Julie</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
          <tr class="table-row">
            <td class="table-entry">A Hatful of Rain</td>
            <td class="table-entry">Celia Pope</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
          <tr class="table-row">
            <td class="table-entry">Rabbit Trap</td>
            <td class="table-entry">Abby Colt</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
          <tr class="table-row">
            <td class="table-entry">Crimes of the Heart</td>
            <td class="table-entry">Meg Magrath</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
          <tr class="table-row">
            <td class="table-entry">Rabbit Hole </td>
            <td class="table-entry">Becca Corbett</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
          <tr class="table-row">
            <td class="table-entry">Golden Boy</td>
            <td class="table-entry">Lorna Moon</td>
            <td class="table-entry">Freehold Theatre</td>
          </tr>
        </tbody>
      </table>
      <h3 class="resume-headers">Training</h3>
      <table class="training-table">
        <tbody class="table-body">
          <tr class="training-table-row">
            <td class="table-entry">Meisner Progression</td>
            <td class="table-entry">Robin Lynn Smith</td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">Acting</td>
            <td class="table-entry">Meg McLynn, Elena Flory-Barnes, David Hsieh</td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">Voiceover </td>
            <td class="table-entry">Shana Pennington-Baird, Lisa Biggs, Michael D. Blum</td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">Improv </td>
            <td class="table-entry">Matt Smith, Kimberly Alu, Elana Fishbein, Louis Kornfeld, Shannon Bass</td>
          </td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">On-Camera</td>
            <td class="table-entry">Amy Russ</td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">Voice</td>
            <td class="table-entry">Jessy Tomsko</td>
          </tr>
          <tr class="training-table-row">
            <td class="table-entry">Clown</td>
            <td class="table-entry">Mik Kuhlman</td>
          </tr>

        </tbody>
      </table>
      <h3 class="resume-headers">Skills</h3>
      <table class="resume-table">
        <tbody class="table-body">
          <tr class="table-row">
            <td class="table-entry">Cat Lover</td>
            <td class="table-entry">Full Splits</td>
            <td class="table-entry">Mandarin</td>
            <td class="table-entry">Singing</td>
            <td class="table-entry">Teaching</td>
            <td class="table-entry">Voiceover</td>
            <td class="table-entry">Yoga</td>

          </tr>
        </tbody>
      </table>
   </div>
</section>
